#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    flex-direction: row;

}

.productListItem {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
    text-align: left;
    background-color: white;
    min-width: 10rem;
    max-width: 20rem;
    flex: 1 1 15rem;
}

.productListItem :hover {
    cursor: pointer;
}

.productListItemBottom {
    padding: 0.5rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.productListItem img {
    width: 100%;
}