@use "../helpers/variables" as *;

#userPage{
    display: flex;
    align-items: center;
    flex-direction: column;

    #userGreeting{
        text-align: center;
    
        h2{
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        }
    }

    .userPageContent {
        width: 100%;
        height: calc(100vh - 8rem);
        display: inline-flex;
        flex-direction: column;
        align-items: center;

        p{
            color: black;
        }

        .userContent{
            background-color: white;
            height: 100%;
            max-width: 80%;
            min-width: 500px;
            padding: 4rem 6rem;
            padding-top: 3rem;
            margin-top: 2rem;
            border-radius: 65% 35% 63% 37% / 27% 51% 49% 73% ;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            transition: all 0.5s;


            .userInput{
                height: 100%;
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                p{
                    color: black;
                }
            }
        }

    }

    #signedOut{
        h1{
            color: $eggYolk;
            transition: all 0.5s;
            position: relative;
        }


    }

    #loggedInUser{
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
    }

    @media(max-width: $breakpoint-md){
        .userPageContent{
            margin-bottom: 5rem;
        }
    }

    @media(max-width: $breakpoint-sm){
        .userContent{

            .userInput{
                width: 100vw;
                padding: 0 2rem;
            }
        }
    }

    
}