:root {
  --baseRed: #d22333;
  --darkRed: #b01e2a;
  --lightRed: #ebbabe;
  --baseYellow: #fbb040;
  --darkYellow: #d49536;
  --backGrey: #ececec;
}

h1 {
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: "Roboto", serif;
}

h2 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", serif;
}

h3 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", serif;
}

h4 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", serif;
}

p {
  padding: 0;
  margin: 0.2rem 0;
  font-family: "Roboto", serif;
}

.App {
  text-align: center;
  background-color: var(--backGrey);
  height: 100%;
  min-height: 100vh;
  width: 100vw;
}

.container {
  margin-top: 2rem;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

input{
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
}

button{
  color: white;
  background-color: var(--baseRed);
  padding: 1rem;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  width: 12rem;
  border: none;
  cursor:  pointer;    
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

button:hover{
  color: var(--baseYellow)
}
button:active{
  background-color: var(--darkRed);
}


.yellowButton{
  background-color: var(--baseYellow);
}

.yellowButton:hover{
  color: var(--baseRed)
}

.yellowButton:active{
  background-color: var(--darkYellow);
}