#header {
    background-color: var(--lightRed);
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem 2rem;
    width: 100%;
    position: relative;
    z-index: 3;
}


#headerLogo {
    max-height: 2.7rem;
    object-fit: contain;
}


#headerBottom {
    display: inline-flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    height: 2.5rem;
    padding: 0;
}

#nav {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 2rem;
}

.navLink {
    height: 1.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 .5rem;
    text-decoration: none;
    color: white;
}

.activeNavLink {
    height: 1.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 .5rem;
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

.headerEdge {
    width: 30%;
    justify-content: end;

}

#userCart {
    display: inline-flex;
    align-items: center;
}

#userCart > *{
    margin: 0 1rem;
}

#userIcon {
    font-size: 2rem;
    stroke-width: 30px;
    stroke: white;
}

#cartItemWrapper {
    position: relative;
    display: inline-block;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

#cartIcon{
    font-size: 3rem;
    position: absolute;
    stroke-width: 20px;
    stroke: white;
    top: 0;
    left: 0;
    z-index: 1;
}

#qtyCartItems {
    position: absolute;
    font-size: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -75%);
    z-index: 2;
    color: white;
}


@media only screen and (max-width: 550px){
    #headerBottom{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 5rem;
        padding-top: 0.5rem;
    }

    #userCart > *{
        margin: 0;
    }
}

@media only screen and (max-width: 360px){
    #headerLogo{
        max-height: 2rem;
    }
}